* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.btn-primary {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
/* Nav Section */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.25rem;
}
nav div {
  display: flex;
  align-items: center;
}
.nav-icon {
  display: none;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  gap: 2.75rem;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
}
.home {
  color: #ff5400;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
}
.nav-img {
  padding-right: 1rem;
}
.nav-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.atlas {
  color: #ff5400;
  font-size: 2.25rem;
  font-weight: 800;
}

/* first section */

.select-section {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(images/first-image.png);
  width: 1170px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  text-align: center;
  margin: 50px auto;
  padding-top: 150px;
  background-position: center;
}
.background1 {
  display: inline-flex;
  padding: 16px;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.h1 {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.h2 {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.select-section-header {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 24px;
}
.select-section-text {
  width: 676px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-left: 250px;
  padding-bottom: 48px;
}

/* second section */
.second-section {
  display: flex;
  justify-content: center;
  gap: 105px;
}
.sec-img {
  width: 33%;
  height: 500px;
}
.second-section-text {
  width: 45%;
}
.sec-ul {
  padding-left: 30px;
}
.h6 {
  color: #131318;
  font-size: 2.2rem;
  font-weight: 800;
}
.h7 {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  width: 525px;
}
.second-section .btn-primary {
  margin-top: 32px;
}
/* third-section */
.third-section {
  margin-top: 100px;
}
.third-texts {
  text-align: center;
}
.third-p {
  margin-top: 20px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}
.img11 {
  width: 573px;
  height: 300px;
}

/* responsive corner */
@media screen and (max-width: 600px) {
  nav ul {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  nav {
    padding-right: 70px;
    justify-content: space-around;
    gap: 70px;
  }
  .select-section {
    margin: 10px 20px;
    flex-direction: column;
    width: 335px;
    height: 483px;
  }
  .nav-title,
  .atlas {
    font-size: 1rem;
  }
  .background1 {
    flex-direction: column;
    width: 287px;
    padding: 16px;
    align-items: flex-start;
    gap: 16px;
  }
  .h2,
  .h1,
  .btn-primary {
    width: 255px;
    height: 52px;
  }

  .select-section-header {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
  }
  .select-section-text {
    width: 304px;
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    margin-left: 20px;
    padding-bottom: 25px;
  }

  .section1 {
    margin-top: -110px;
  }
  .second-section {
    flex-direction: column;
    gap: 37px;
    margin-left: 10px;
    margin-top: 25px;
  }
  .sec-img {
    width: 80%;
    height: 70%;
  }
  .h7 {
    font-size: 0.875rem;
    width: 335px;
  }
  .h6 {
    font-size: 1.25rem;
  }
  .row {
    flex-direction: column;
  }
  .third-p {
    width: 400px;
    font-size: 0.75rem;
    text-align: center;
    margin-left: 20px;
  }
  .row img , .img1 {
    width: 335px;
    height: 176px;
  }
}
